<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/catdisplay.css' %}">
    <title>Document</title>
</head>
<body>

        <h1>ProfileDisplay</h1>
        <hr>
        <table>
            <thead>
                <tr  class="header1">
                    <th>user</th>
                    <th>product</th>
                    <th>quantity</th>
                  <th>total_price</th>
                  <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for i in keye %}
                <tr>
                    <td>{{i.user}}</td>

                    <td>{{i.product}}</td>
                  <td>{{i.quantity}}</td>
                  <td>{{i.total_price}}</td>
                  <td><a href="{%  url 'cartdelete' dataid=i.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


<script src="https://kit.fontawesome.com/062d2d5e59.js" crossorigin="anonymous"></script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else%}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>
{% endblock %}
