<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/proddisplay.css' %}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
 <div class="div1">
            <div class="table-responsive-lg">
                <table class="table">
                    <thead>
                    <tr class="bg-success">
                        <th scope="col">ID</th>
            <th scope="col">CategoryName</th>
            <th scope="col">ProductName</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">created_date</th>
             <th scope="col">Edit</th>

                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                    <tbody>
                       {% for i in key %}
                    <tr>
                      <th scope="row">{{i.id}}</th>
                      <td>{{i.procategoryname}}</td>
                      <td>{{i.productname}}</td>
                        <td>{{i.proquantity}}</td>
                        <td>{{i.proprice}}</td>
                        <td><img src="{{i.productimage.url}}" class="image"></td>
                        <td>{{i.prodescription}}</td>
                        <td>{{i.created_date}}</td>
                        <td><a href="{% url 'productedit' dataid=i.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                        <td><a href="{% url 'productdelete' dataid=i.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else%}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}

</html>
{% endblock %}
