<!DOCTYPE html>
{% load static %}
<html lang="zxx">
   <head>
      <title>TurboTech</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

      <!--booststrap-->
      <link href="{% static 'assets1/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="{% static 'assets1/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
      <link rel="stylesheet" href="{% static 'assets1/css/shop.css' %}" type="text/css" />
      <!--//Shoping cart-->
      <!--checkout-->
      <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/checkout.css' %}">
      <!--//checkout-->
      <!--stylesheets-->
      <link href="{% static 'assets1/css/style.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <style>
          .text-uppercase:hover {
            color: white; /* Change the text color to white on hover */
        }
      </style>
   </head>
   <body>
      <!--headder-->
      <div class="header-outs" id="home">
         <div class="header-bar">
            <div class="info-top-grid">
               <div class="info-contact-agile">
                  <ul>
                     <li>
                        <span class="fas fa-phone-volume"></span>
                        <p>+(000)123 4565 32</p>
                     </li>
                     <li>
                        <span class="fas fa-envelope"></span>
                        <p><a href="mailto:info@example.com">info@example1.com</a></p>
                     </li>
                     <li>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="container-fluid">
               <div class="hedder-up row">
                  <div class="col-lg-3 col-md-3 logo-head">
                     <h1><a class="navbar-brand" href="index.html">TurboTech</a></h1>
                  </div>
                  <div class="col-lg-5 col-md-6 search-right">
                     <form class="form-inline my-lg-0" action="{% url 'searchpage' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" id="searchproducts" style="color:black;">
                        <button class="btn" type="submit">Search</button>
                     </form>
                  </div>

                    <div class="col-lg-4 col-md-3 right-side-cart">
                     <div class="cart-icons">
                         <ul>
                           {% if not user.is_authenticated %}
                           <li>
                              <a href="{% url 'log' %}"><span class="far fa-user"></span></a>
                           </li>
                            {% else %}
                           <li class="toyscart toyscart2 cart cart box_1">
                              <a href="{% url 'addtcart' %}"><span class="fas fa-cart-arrow-down"></span></a>
                           </li>
                            {% endif %}
                              {% if  user.is_authenticated %}

                                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-uppercase" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                                       <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
                                 </li>

                              {% endif %}
                        </ul>
                     </div>
                  </div>

               </div>
            </div>
                                             <nav class="navbar navbar-expand-lg navbar-light">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <ul class="navbar-nav ">
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'indexweb' %}">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'aboutpage' %}" class="nav-link">About</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Product
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           {% for i in cat %}

                           <a class="nav-link" href="{% url 'productdisplay' catg=i.categoryname %}">{{i.categoryname}}</a>
                           {% endfor %}

                        </div>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'contactweb' %}" class="nav-link">Contact</a>
                     </li>
                  </ul>
               </div>
            </nav>

         </div>
		  </div>
         <!--//headder-->
         <!-- banner -->
         <div class="inner_page-banner one-img">
         </div>
         <!-- short -->
         <div class="using-border py-3">
            <div class="inner_breadcrumb  ml-4">
               <ul class="short_ls">
                  <li>
                     <a href="index.html">Home</a>
                     <span>/ /</span>
                  </li>
                  <li>Checkout</li>
               </ul>
            </div>
         </div>
         <!-- //short-->
         <!--Checkout-->
         <!-- //banner -->
         <!-- top Products -->
         <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
               <div class="shop_inner_inf">
                  <div class="privacy about">
                     <h3>Chec<span>kout</span></h3>
                     <div class="checkout-right">
                        <table class="timetable_sub">
                           <thead>
                              <tr>
                                 <th>Product</th>
                                 <th>Quality</th>
                                 <th>Product Name</th>
                                 <th>Price</th>
                                 <th>Remove</th>
                              </tr>
                           </thead>
                           <tbody>
                           {% for i in chectcart %}
                              <tr class="rem1">
                                 <td class="invert-image"><a href="single.html"><img src="{{ i.product.productimage.url }}" alt=" " class="img-responsive"></a></td>
                                 <td class="invert">
                                    <div class="quantity">
                                       <div class="quantity-select">
                                          <div class="entry value"><span>{{i.quantity}}</span></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="invert">{{i.product.productname}}</td>
                                 <td class="invert">{{i.total_price }}</td>
                                 <td class="invert">
                                    <div class="rem">
                                       <div class="close1"> </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="checkout-left">
                        <div class="col-md-4 checkout-left-basket">
                           <h4>Continue to basket</h4>
                           <ul>
                              <li>Product <i>-</i> <span>Rs{{i.product.proprice}}</span></li>
                              <li>Quantity<i>-</i> <span>{{i.quantity}}</span></li>
                              <li>GST<i>-</i> <span>Rs40.00</span></li>
                              <li>Total Service Charges <i>-</i> <span>Rs55.00</span></li>
                              <li>Total <i>-</i> <span id="totalPrice"></span></li>
                           </ul>
                           <script>
                                // Calculate the total price
                                const productPrice = parseFloat("{{i.product.proprice}}");
                                const quantity = parseInt("{{i.quantity}}");
                                const gst = parseFloat("40.00");
                                const serviceCharges = parseFloat("55.00");

                                const totalPrice = productPrice * quantity + gst + serviceCharges;

                                // Update the total price in the HTML
                                document.getElementById("totalPrice").textContent = `Rs${totalPrice.toFixed(2)}`;
                           </script>
                        </div>
                        <div class="col-md-8 address_form">
                           <h4>Add a new Details</h4>
                           <form action="{% url 'savecheckdetailes' productid=i.product.id cartid=i.id %}" method="POST" class="creditly-card-form agileinfo_form" id="form-data">
                                    {% csrf_token %}
                              <section class="creditly-wrapper wrapper">
                                 <div class="information-wrapper">
                                    <div class="first-row form-group">
                                       <div class="controls">
                                          <label class="control-label">Full name: </label>
                                          <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name" id="nameak">
                                       </div>
                                       <div class="card_number_grids">
                                          <div class="card_number_grid_left">
                                             <div class="controls">
                                                <label class="control-label">Mobile number:</label>
                                                <input class="form-control" type="text" placeholder="Mobile number" name="mobilenumber" id="phonenumber">

                                             </div>
                                          </div>
                                          <div class="card_number_grid_right">
                                             <div class="controls">
                                                <label class="control-label">Email </label>
                                                <input class="form-control" type="email" placeholder="email" name="Address" id="email">
                                             </div>
                                          </div>
                                          <div class="clear"> </div>
                                       </div>
                                       <div class="controls">
                                          <label class="control-label">Town/City: </label>
                                          <input class="form-control" type="text" placeholder="Town/City" name="twon">
                                       </div>

                                    </div>
                                    <button class="submit check_out">Save The Address</button>
                                 </div>
                              </section>
                           </form>
                           <div class="checkout-right-basket">
                              <h1 style="margin-bottom:25px;">Payment:</h1>
                              {% if form_submitted %}
                              <a href="{% url 'cashondelivery' productid=i.product.id cartid=i.id desired_fullname=request.POST.name %}" style="margin-bottom:15px;">COD</a>
                              <a href="#" class="paywithrazorpay">Pay with Razorpay</a>
                              <input type="hidden" name="hiddenField" id="hiddenField" value="{{ request.session.mobilenumber }}">
                              <input type="hidden" name="hiddenField" id="hiddenemail" value="{{ request.session.Address }}">
                              <input type="hidden" name="hiddenField" id="hiddenFname" value="defaultvalue">
                              {% else %}
                                       <p>Please fill out the form to proceed to payment.</p>
                              {% endif %}
                           </div>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
               {% endfor %}
               <!-- //top products -->
            </div>
      </section>
      <!--subscribe-address-->
      <section class="subscribe">
         <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 col-md-6 map-info-right px-0">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
            </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
               <div class="address-gried ">
                  <span class="far fa-map"></span>
                  <p>25478 Road St.121<br>USA New Hill
                  <p>
               </div>
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> +(000)123 4565<br>+(010)123 4565</p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="mailto:info@example.com">info@example1.com</a>
                     <br><a href="mailto:info@example.com">info@example2.com</a>
                  </p>
               </div>
            </div>
         </div>
		 </div>
      </section>
      <!--//subscribe-address-->
      <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch Us</h3>
            <div class="icons mt-4 text-center">
               <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fas fa-rss"></span></a></li>
                  <li><a href="#"><span class="fab fa-vk"></span></a></li>
               </ul>
               <p class="my-3">velit sagittis vehicula. Duis posuere
                  ex in mollis iaculis. Suspendisse tincidunt
                  velit sagittis vehicula. Duis posuere
                  velit sagittis vehicula. Duis posuere
               </p>
            </div>
            <div class="email-sub-agile">
               <form action="#" method="post">
                  <div class="form-group sub-info-mail">
                     <input type="email" class="form-control email-sub-agile" placeholder="Email">
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn subscrib-btnn">Subscribe</button>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <!--//subscribe-->
      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p>TurboTech
            </p>
         </div>
      </footer>
      <!-- //footer -->
      <!-- Modal 1-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="" >
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="" >
                           </div>
                           <div class="styled-input">
                              <input type="password" placeholder="password" name="password" required="">
                           </div>
                           <button type="submit" class="btn subscrib-btnn">Login</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- //Modal 1-->
      <!--js working-->

      <script src="{% static 'assets1/js/jquery-2.2.3.min.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


      <!--//js working-->
      <!-- cart-js -->
      <script src="{% static 'assets1/js/minicart.js' %}"></script>
      <script>
         toys.render();

         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;

         	if (this.subtotal() > 0) {
         		items = this.items();

         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!--// cart-js -->
      <!--quantity-->
      <script>
         $('.value-plus').on('click', function () {
         	var divUpd = $(this).parent().find('.value'),
         		newVal = parseInt(divUpd.text(), 10) + 1;
         	divUpd.text(newVal);
         });

         $('.value-minus').on('click', function () {
         	var divUpd = $(this).parent().find('.value'),
         		newVal = parseInt(divUpd.text(), 10) - 1;
         	if (newVal >= 1) divUpd.text(newVal);
         });
      </script>
      <!--quantity-->
      <!--closed-->
      <script>
         $(document).ready(function (c) {
         	$('.close1').on('click', function (c) {
         		$('.rem1').fadeOut('slow', function (c) {
         			$('.rem1').remove();
         		});
         	});
         });
      </script>
      <script>
         $(document).ready(function (c) {
         	$('.close2').on('click', function (c) {
         		$('.rem2').fadeOut('slow', function (c) {
         			$('.rem2').remove();
         		});
         	});
         });
      </script>
      <script>
         $(document).ready(function (c) {
         	$('.close3').on('click', function (c) {
         		$('.rem3').fadeOut('slow', function (c) {
         			$('.rem3').remove();
         		});
         	});
         });
      </script>
      <!--//closed-->
      <!-- start-smoth-scrolling -->
      <script src="{% static 'assets1/js/move-top.js' %}"></script>
      <script src="{% static 'assets1/js/easing.js' %}"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });
      </script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script>
                 var availableTags = []; // Declare the availableTags array at the top

                     $(document).ready(function() {
                         $.ajax({
                             method: "GET",
                             url: "{% url 'productlistajax' %}",
                             success: function(response) {
                                 availableTags = response; // Populate the availableTags array
                                 startAutocomplete(); // Call the function to initialize autocomplete
                             },
                             error: function(xhr, status, error) {
                                 console.error("Error:", error);
                             }
                         });
                     });

                     function startAutocomplete() {
                         $( "#searchproducts" ).autocomplete({
                             source: availableTags
                         });
                     }

             </script>


      <!-- //here ends scrolling icon -->
 <!-- //here ends scrolling icon -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

$(document).ready(function () {
   $('.paywithrazorpay').click(function(e) {
        e.preventDefault();
        var phonenumber = $('#hiddenField').val();
        var email = $('#hiddenemail').val();
        var token =$("[name='csrfmiddlewaretoken']").val();
        var fname = $('#hiddenFname').val();
        console.log("fname:", fname);



        $.ajax({
            method: "GET",
            {% for i in chectcart %}
            url: "{% url 'razropaycheck' cartid=i.id %}",
            {% endfor %}
            success: function (response) {
                var options = {
                    "key": "rzp_test_VhunsrJFddmrKx",
                "amount":"100",                               <!--  response.totalprice+40*100+55*100* 100-->
                    "currency": "INR",
                    "name": "TurboTech",
                    "description": "Thanks you for buying with us",
                    "image": "https://example.com/your_logo",
                    "handler": function (responseb) {
                        alert(responseb.razorpay_payment_id);
                        var data = {
                            "payment_mode": "paid by rzorpay",
                            "payment_id": responseb.razorpay_payment_id,
                            csrfmiddlewaretoken:token
                        };
                        $.ajax({
                            method: "POST",
                            {% for i in chectcart %}
                                 url: "{% url 'razorpaysave' productid=i.product.id fullname=user.id carid=i.id %}",
                            {% endfor %}
                            data: data,
                            success: function (responsec) {
                                swal("Congratulations!", responsec.status, "success").then((value) => {
                                    window.location.href = "{% url 'indexweb' %}";
                                });
                            }
                        });
                    },
                    "prefill": {
                        "name": fname,
                        "email": email,
                        "contact": phonenumber
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
        });
    });
});

</script>



      <!--bootstrap working-->
      <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
      <!-- //bootstrap working-->
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else%}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}
      <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script>
    $(document).ready(function(){
        $("#form-data").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 4,
                    maxlength: 6
                },
                mobilenumber: {
                    required: true,
                    digits: true, // Ensure the input consists of digits only
                    minlength: 10,
                    maxlength: 10
                },
                Address: {
                    required: true,
                    email: true,
                },
                twon: {
                    minlength: 4
                }
            },
            messages: {
                name: {
                    required: "Please enter your name",
                    minlength: "Name must be at least 4 characters",
                    maxlength: "Name must not exceed 6 characters"
                },
                mobilenumber: {
                    required: "Please enter your mobile number",
                    digits:"Please enter a valid numeric number.",
                    minlength: "Please enter a valid 10-digit phone number.",
                    maxlength: "Please enter a valid 10-digit phone number."
                },
                Address: {
                    required: "Please enter your email address",
                    email: "Please enter a valid email address"
                },
                twon: {
                    minlength: "Town/City must be at least 4 characters"
                }
            }
        });
    });
</script>


   </body>
</html>